$green: #81C784
$lime: #DCE775
$orange: #FFB74D
$amber: #FFD54F
$blue: #64B5F6
$indigo: #7986CB
$red: #E57373
$pink: #F06292
.background
  position: absolute
  top: 0
  left: -50px
  right: -50px
  bottom: 0
  z-index: 0
  /** transform: translateX(-50px) **/
  background-color: transparent
  overflow: hidden
  display: flex
  .background__column
    display: flex
    flex-direction: column
    flex: 1
    align-items: center
    box-sizing: border-box
    overflow: hidden
    /** justify-content: space-evenly **/
    max-height: 700px
    &_ts-y
      height: 700px
      transform: translateY(-50px)
  .background__circle
    border-radius: 50%
    /** margin: 0 auto **/
    max-width: 40px
    max-height: 40px
    margin: 30px
    height: 100%
    width: 100%
    background-color: $amber
    z-index: 0
    &_red
      background-color: $red
    &_indigo
      background-color: $indigo
    &_lime
      background-color: $lime
    &_orange
      background-color: $orange
    &_blue
      background-color: $blue
    &_green
      background-color: $green
    &_pink
      background-color: $pink
