.app
  position: relative
  background-color: #000000
  overflow: hidden
  margin: 0 auto
  max-width: 1000px
  max-height: 600px
  flex: 1
  box-sizing: border-box
  border-radius: 10px
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5)
  height: 100%
  &__header
    color: white
    z-index: 1
